* {
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 540px){
    .card {
        display: flex;
        flex-direction: column;
        border: 1px solid #bbb;
    }
}
@media (min-width: 541px){
    .card {
        display: flex;
        flex-direction: row;
        border: 1px solid #bbb;
    }
}